:root {
   /* --cf-primaryColor: #0869b8;
    --cf-primaryColorDark: #002a4e;
    --cf-primaryColorLight: #edf5fc;
    --cf-secondaryColor: #fff0d9;
    --cf-secondaryColorLight: #FFF8EC;
    --cf-dark-color: #131313;
    --cf-light-gray: #d9d9d9;
    --cf-light-color: #eeeeee;*/
    --cf-title-font: 'Fira Sans', sans-serif;
    --cf-body-font: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;

}

.content {
    flex: 1 0 auto;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.navbar-toggler{
    color:white!important;
    border-color:yellow;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--cf-dark-color);
    font-family: var(--cf-body-font);
    font-weight: 400;
    font-size: 1.2rem;
}

.footer {
    flex-shrink: 0;
    background: #9D50BB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:azure!important;
}


/*--Button Overrides --*/
/*-- Button styles override Bootstrap Styles --*/
.btn-outline-primary {
    color: white;
    border-color: yellow !important;
    background-color:rebeccapurple;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:active,
    .btn-outline-primary:focus {
        border-color: gold !important;
        background-color: black;
    }

.btn-primary {
    color: black !important;
    background-color: mediumpurple !important;
    border-color: purple;
}

    .btn-primary:hover {
        filter: brightness(1.2) !important;
        border-color: gold;
    }

    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        filter: brightness(1.2) !important;
    }

.btnlinks {
    width: 7rem;
}

nav {
    color:white!important;
    background: #9D50BB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar{
    color:white!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--cf-title-font);
    font-weight: 600;
    text-transform: uppercase;
}


main {
    background-color: var(--cf-primaryColorLight);
}

#navbar1{
    color:white!important;
}

.nav-link{
    color:white!important;
}


.heroCard {
    min-height: 100%;
}

.texthighlight {
    color: #3D1766;
}

.heroTitle {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--cf-title-font);
    font-weight: 600;
}

.subtitle {
    font-size: 1.5rem;
}

.pageHeader {
    background-color: var(--cf-secondaryColor);
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.pageTitle {
    font-family: var(--cf-title-font);
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
}

.navShadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sideNav {
    border-radius: 25px;
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
}

.editIcons {
    font-size: 1.5rem;
    opacity: .9;
    color: var(--cf-primaryColorDark);
}

    .editIcons:hover {
        color: var(--cf-primaryColor);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }


.icon {
    font-size: 3.5rem;
}


.copyright {
    color: var(--cf-primaryColorDark);
    font-size: .9rem;
}

.socialicons {
    color: var(--cf-primaryColorDark);
    opacity: .9;
    font-size: 2rem;
}

    .socialicons:hover {
        color: var(--cf-primaryColor);
        opacity: 1;
        cursor: pointer;
    }

.square-img-container {
    position: relative;
    /*background-color: var(--cf-primaryColorLight);
    border-color: var(--cf-light-gray);*/
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .heroTitle {
        font-size: 3.5rem;
    }
}

